.conte {
    background-color: rgb(45,62,79);
    position: relative;
    height: 200px;
    margin: 0;
}

div {
    text-align: center;
}

.button1 {
    background-color: rgb(193,57,43);
    color: white;
    border: none;
    margin-top: 15px;
    height: 30px;
    width: 150px;
    
}

.button2 {
    background-color: rgb(255,191,40);
    color: white;
    border: none;
    margin-top: 15px;
    height: 30px;
    width: 70px;
    
}

.changeBgColor {
    background-color: rgb(245,245,245);
}